html, body{
overflow-x: hidden;
padding:0;
margin:0;
}
.game_field {
position: relative;
padding:0;
margin:0;
height: 100vh;
width: 100vw;
background-color: #fff;
}
#wordbasket_start{
background-image: url('img/start_basket.png');
width: 147px;
height: 137px;
z-index: 3;
}
#wordbasket_start:hover{
transform: scale(1.05);
opacity: 0.8;
outline: none;
}
#wordbasket_start:focus{
outline: none;
}
.wordbasket_button{
border: none;
background: transparent; 
outline: none;
position: absolute;
-webkit-transition: all 800ms ease-out;
-o-transition: all 800ms ease-out;
transition: all 800ms ease-out;
padding: 0;
cursor: pointer;
background-repeat: no-repeat;
background-size: contain;
background-position: center center;
}
button.wordbasket_button:focus{
outline: none;
background-color: transparent;
}
#wordbasket_left{
background-image: url('img/left_basket.png');
width: 97px;
height: 97px;
bottom: 50px;
left: 5%;
z-index: 3;
}
#wordbasket_right{
background-image: url('img/right_basket.png');
width: 97px;
height: 97px;
bottom: 50px;
right: 5%;
z-index: 3;
}
.track {
width:calc(100% / 5);
height:95vh;
float:left;
text-align:center;
}
.block {
position:relative;
width:100%;
height:calc(95vh / 5);
}
#wordBasket {
width:calc(100% / 5);
position:absolute;
top:calc(95vh - 40px);
left:calc((100% / 5)*2);
}
#score {
height:80px;
color:white;
text-align:center;

font-size:24px;
font-weight:500;
line-height:50px;
background-repeat: no-repeat;
background-position: center center;
background-image: url('img/basket.png'); 
background-size: contain;
user-select:none;
}
.fruit {
  width:10vw;
  height:10vw;

}
.apple {
width:6em;
height:5em;
padding-top: 1.5em;
position:relative;
left:calc((100% - 6em)/2);
top:calc((100% - 6em)/2);
text-align: center;
color: #000;
font-size: 18px;
font-family:"Arial";
font-weight: bold;

}
.bad {
/*overflow:hidden;*/
/*background-color: pink*/;
}

.good{
	/*background-color: green;*/
}
#game_result{
text-align: center;
text-transform: uppercase;
position: absolute;
font-weight: bold;
font-size: 26px;
top: 25%;
left: 0;
right: 0;
max-width: 250px;
margin: 0 auto;
border: 2px solid #D1E231;
border-radius: 20px;
padding: 30px  20px;
display: none;
}
.top {
position:absolute;
}
#gameBasketBox {
height:100vh;
overflow:hidden;
background-image: url('img/basket_bg.png');
background-position: center bottom;
background-size: cover;
background-repeat: no-repeat;
position:relative;
margin:0 auto;
width:80vw;
max-width:1000px;
}


/*Mobile version*/

@media (max-width:767px){
#wordbasket_start {
width: 87px;
height: 87px;
margin-top: 10px;
}


/*.track {
width: calc(100% / 5);
height: 95vh;
max-height: 480;
}*/


#wordbasket_left,
#wordbasket_right{
width: 40px;
height: 40px;
bottom: 30px;
}

#wordbasket_left{
left: 5px;
}
#wordbasket_right{
/*right: 5px;*/
}




.apple {
height:4em;
width: 4em;
padding-top: 0.5em;
left:calc((100% - 4em)/2);
top:calc((100% - 4em)/2);
font-size: 14px;
}


}

@media (max-width:767px) and (orientation:portrait){
#gameBasketBox  {
width: 100vw;
background-image: url('img/basket_bg_mobile.png');
}
#score {
background-image: url('img/basket_mobile.png');

}

}


/*360 X 480

1000 X 500*/